<style>#container{
            text-align: center;
            margin: -20px 20% 0 20%;
            background: #b9cae5;
        }
        #SVGs,#SVGs1{
            width:150px;
            height:150px;
            margin: 20px 0 0 350px;
            position:relative;

        }
        .sec1,.sec2,.sec3,.sec4{
            width:100px;
            height:100px;
            position:absolute;
            top:0;
            left:0;
        }
        .sec1{
            z-index:10;
        }</style>
<section id ="container">
    <section id="SVGs">
            <section class="sec2">
            <svg width="100" height="100">
                <circle id="abc" cx="50" cy="50" r="50" stroke="black" fill="yellow"></circle> 
            </svg>
            </section>
            <section id="sec1"class="sec1" ondrop="drop(event)" ondragover="allowDrop(event)"> </section>
       <br/><br/>
       </section>
<section id="SVGs1">
            <section class="sec3">
            <svg width="100" height="100">
                <circle id="evf" cx="50" cy="50" r="50" stroke="black" fill="green"></circle> 
            </svg>
            </section>
            <section id="sec4"class="sec4" ondrop="drop(event)" ondragover="allowDrop(event)"> </section>
       <br/><br/>
       </section>
       <section>
               <p> <strong>Drag the gif image to the SVG circles above.</strong>
       </p>
       <img id="drg1" alt="Check Internet Connection"src="https://media.tenor.com/images/7db260732bbe2a6024d78ac75a3cb18d/tenor.gif" draggable="true" ondragstart="drag(event)" width="50" height="50"/>

       </section>
<script>
            function allowDrop(ev) {
                ev.preventDefault();
            }

            function drag(ev) {
                ev.dataTransfer.setData("text", ev.target.id);
            }

            function drop(ev) {
                ev.preventDefault();
                var data = ev.dataTransfer.getData("text");
                ev.target.appendChild(document.getElementById(data));

            }


            </script>
<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<div id="result"></div>
<button onclick="getLocationFromLocal()">Get location from local memory</button>

<script>
var x = document.getElementById("demo");

var y = document.getElementById("result");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
}


function getLocationFromLocal() {
navigator.geolocation.getCurrentPosition(showPositionFromLocal);
}
function showPositionFromLocal(position) {

 y.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
localStorage.setItem("locationFromMemory",y.innerHTML);
 localStorage.getItem("locationFromMemory");
}

</script>


